/* This contains the 3 main button types and styles

1. btn (base style)
2. btn__cta (cta)
3. btn__ghost (card button)

*/

.btn {
    border-radius: 4px;
    padding: 1rem;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    transition: border-radius .3s,background .3s,border-color .3s,color .3s;
    &:hover {
        border-radius: 2.5em;
    }
    &:focus {
        outline:0;
    }
}

.btn__cta {
    background: rgba(245,142,27, 1);
    color: rgba(255, 255, 255, 1);
}

.btn__ghost {
    border: 2px solid rgba(245,142,27, 1);
    color: rgba(245,142,27, 1);
    &:hover {
        background: rgba(245,142,27,0.1);
    }
}

.btn__ghostoverimage {
    border: 2px solid rgba(255,255,255, 1);
    background-color:transparent;
    color: rgba(255,255,255, 1);
    &:hover {
        background: rgba(245,142,27,0.4);
    }
}