.filter-wrapper {
    display:grid;
    grid-template-columns: 6fr 3fr;
    width: 100%;
    top: 60px;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid  rgba(230,230,230,0.4);
    border-top: 1px solid  rgba(230,230,230,0.4);
    z-index: 20;
}

.filter {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 20px;
    align-content: center;
    padding: 0 20px;   
}

.filter-number {
    display:grid;
    align-content: center;
    justify-content: end;
    padding: 20px;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.filter button {
    border: 1px solid rgba(230,230,230,1);
    max-height: 35px;
    font-weight: 200;
    color: #484848;
    padding: 6px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background: rgba(230,230,230,1);
        border-color: rgba(230,230,230,1);
    }

}