.container {
    display: grid;
    background: white;
}
  
.grid-wrapper {
    padding: 20px;
    max-width: 1280px;
    margin: auto auto;
}

.grid__spacer {
    padding-top: 140px;
}

// Used for Single Seekers and Single Listings
.outer-container {
    color: rgba(255,255,255, 1);
    display: grid;
    grid-template-columns: minmax(200px, 768px);
    justify-content: center;
    padding: 20px;
    .inner-container {
        background-color: rgba(55,83,65, 1);
        padding: 30px;
    }
    p {
        color: rgba(255,255,255, 0.8);
        padding: 20px;  
        white-space:pre-wrap;
    }
    ul.stats-list {
        list-style-type: none;
        padding: 0;
        margin-bottom: 0;
        font-size: .915rem;
        li.title {
            font-family: $sans-serif;
            opacity: 1;
            font-weight: 600;
        }
        li {
            opacity: 0.8;
            font-family: $serif;
            margin-bottom: .5rem;
        }
    }
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    
}

.slideout {
    position: fixed;
    top: 125px;
    right: 0px;
    bottom:0px;
    height: 100%;
    overflow-y: scroll;
    background: white;
    z-index: 3000;
    //transition: width 2s;
    width: 40%;
    box-shadow: 0 1px 0px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.20);
    .btn-close{
        position: fixed; 
        top: 140px; 
        right: 38%; 
        z-index: 5001; 
        border: none; 
        cursor: pointer; 
        outline: none;
    }
}

.slide-container {
    margin: 4em 0 10em 0; 
    padding: 0 2em;
}